nav{
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 2;
}

.vertical-line{
    border-left: 3px solid gray ;
    height: 50px;
}
.nav-delivery>h5{
    font-weight: 900;
margin-top: 10px;

}

.nav-delivery>p{
    font-size: 13px;
}

#my-nav-search{
    background-color: beige;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    padding-inline: 10px;

}

#my-nav-search>input{
    border: none;
    width: 40vw;
    height: 40px;
    background-color: transparent;
}
#hero-section{
    display: flex;
    justify-content: center;
}
#categories-1{
    display: flex;
    flex-wrap: wrap;
    padding-inline: 7vw;  
    justify-content: space-around;   
}
.scroll-container{
    width: 88vw;
    background-color: whitesmoke;
    margin: auto;
}
.list{
    white-space: nowrap;
    overflow-x: scroll;
}
.list>img{
    display: inline-block;
    margin: 10px;
}
.list::-webkit-scrollbar{
    display: none;
}
.category{
    width: 85vw;
    margin: auto;
}
.my-card{
    display: inline-block !important;
    width: 220px;
    box-sizing: border-box;
    border-radius: 15px !important;
    white-space: wrap;
  
    margin-inline: 10px;

}
.my-card>img{
    display: inline-block;
    margin: auto;
}
.time{
    background-color: whitesmoke;
    font-weight: 700;
    font-size: 9px;
    width: fit-content;
    border-radius: 4px;
}
.product_weight{
    font-size: 13px;
    color: #666666;

}
.row-3>p{
    margin: 0px;
}

footer{
    width: 85vw;
    margin: auto;
}

#my-footer-row-3{
    font-size: 15px;
    text-align: justify;
    color: #666666;
    
}

#my-footer-row-2{
    font-size: 13px;
    text-align: justify;
    color: #666666;   
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}
#footer_row_2_col1{
    flex: 1;
    padding-inline: 10px;

}
#footer_row_2_col1>h6{
    color: #666666;
    padding: 0px;
}
.some-box{
    width: 150px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    text-align: center;
    background-color: #231a50;

}
#footer_row_2_col2{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#footer_row_2_col3{
    flex: 1;
    display: flex;
    justify-content: space-between;
}
.social-icon{
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50%;
    font-size: 30px;

}
.social-icon:hover{
    color: black;
    background-color: greenyellow;
    box-shadow: 5px 5px 10px black;
}
#my-footer-row-1{
    display: flex;
    margin-top: 30px;

}
#footer_table_1{
    flex: 2;
}
#footer_table_2{
flex: 3;

}
td{
color: #666666;
font-weight: 500;
line-height: 30px;
}
table{
    width: 100%;
}
td:hover{
    color: #666666;
    line-height: 30px;
    text-decoration:dotted;
    color: rgb(190, 184, 5);
    cursor: pointer;
}

@media screen and (max-width:480px){
    #hero-section{
        display: none !important;
    }
    nav,#my-footer-row-1{
        flex-direction: column !important;
        align-items: center !important;
        margin: auto;
    }
    #my-footer-row-2,#footer_table_1,#footer_table_2,#footer_row_2_col2{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    td{
        text-align: center;

    }
    .some-box{
        margin-top: 10px;

    }
    #footer_row_2_col3{
        justify-content: space-between;
        width: 90vw;
        margin: auto;
        margin-top: 10px;


    }
    .vertical-line{
        display: none !important;
    }
    #my-nav-search{
        width: 90vw;
    }
    nav{
        padding-top: 20px;
        padding-bottom: 20px;
        position: static;
    }
}